<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>CodeBook</title>
</head>
<body>
    <div class="header">
        <div class="container flex">
          <div class="text">
            <h1 class="mb">
              CodeBook <br />
              <span>Learn</span> With Us!
            </h1>
  
            <p class="mb w-90">
                Boost your coding skills with CodeBook, 
                a platform where you can test your coding skills and understanding 
                by solving problems across various topics starting from scratch to advanced level.
                Click the button below to start solving problems.<br/>
                Don't have a problem to solve? No worries, you can create your own problem <a href="/problem/create" style="color: white;">here</a>.
            </p>
  
            <input type="file" id="upload-button" accept=".json,application/json" hidden />
            <label class="btn mt" for="upload-button">Choose a file</label>
          </div>
  
          <div class="visual">
            <img
              src="/images/logo.png"
              alt="logo"
            />
          </div>
        </div>
    </div>
    <div id="loading-wrapper">
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>   
    <script src="/javascripts/index.js"></script>
</body>
</html>
